.addExperienceSection {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addExperienceContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    flex-basis: 100%;
}

.formBody {
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 35px;
    max-width: 80%;
}

.editorContainer {
    max-width: 100%;
    margin: 0 auto;
}

.expLeftColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.submitButtonContainer {
    text-align: right;
}

.ql-editor {
    background-color: white;
    color:black;
}

.ql-toolbar {
    background-color: white;
}

.rteContainer {
    width: min(80vw, 500px);
    height: 100%;
}

.titleContainer {
    text-align: center;
    padding-bottom: 15px;
}


@media (max-width: 768px) {
    .formBody {
        flex-direction: column;
    }

    .expLeftColumn {
        align-items: center;
    }

    .expRightColumn {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .inputBox {
        width: 450px;
    }
}