.addProjectSection {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.addProjectForm {
    width: 100%;
}

.form_desktop {
    display: flex;
    flex-shrink: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
    height: 100%;
}

.form_mobile {
    display: none;
}

.leftColumn {
    display: flex;
    flex-direction: column;
}

.rightColumn > * {
    margin-bottom: 15px;
}
.rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textInput {
    font-size: 1.2rem;
    border-radius: 15px;
    padding: 5%;
    margin-bottom: 20px;
    height: 100%;
}

.uploadFile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    gap: 15px;

}

.fileUploader {
    font-size: 1.2rem;
    margin: auto;
}


.formSubmitButton {

    cursor: pointer;
    margin-top: 15px;
}

.skillBox {
    width: min(80vw, 300px);
    margin: auto;
}


.skillTag {
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    border: 2px solid #000;
    padding: .5em;
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 200px;
}

.tagItem {
    background-color: #66fcf1;
    color: black;
    display: inline-block;
    padding: .5em .75em;
    border-radius: 20px;
}

.tagItem .closeIcon {
    height: 20px;
    width: 20px;
    background-color: rgb(48, 48, 48);
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: .5em;
    font-size: 18px;
    cursor: pointer;
}

.skillsInput {
    flex-grow: 1;
    padding: .5em 0;
    border: none;
    outline: none;
    background-color: white;
    color: black;
}

.fieldBox {
    background-color: white;
    padding: 0px 15px;   
    margin-top: 15px;
}

@media (max-width: 900px) {
    .form_desktop {
        display: none;
    }

    .form_mobile {
        display: flex;
        flex-direction: column;

    }

    .description {
        width: 100%;
    }

    .fileUploader {
        text-align: center;
        margin: auto;
    }

    .uploadFile {
        margin-bottom: 15px;
    }
}