* {
    background-color: #0B0C10;
}

.logInForm {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.formHeading {
    color: #66FCF1;
    font-size: 5rem;
}

.divider {
    border: none;
    height: 5px;
    background-color: white;
    width: 30%;
    margin: auto;
}

.inputBox {
    border: none;
    background-color: white;
    color: black;
    padding: 5px 15px;
    border-radius: 500px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.forgotPass_and_logIn_button {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
}

.actionButton {
    background:#66FCF1;
    border: none;
    border-radius: 500px;
    color: black;
}

.forgotPass {
    cursor: pointer;
    color: white;
}

