.experiencePage {
    /* padding: 0 5%; */
    width: 100vw;
}

.sectionTitle {
    font-size: 10vh;
    color: white;
}

.experiencePageContentContainer {
    height: 100vh;
    display: flex;
    margin: auto;

    width: 100vw;
    padding-top: 5%;
}

.timeline {
    display: flex;
    flex-direction: column;
    width: 10%;
    align-items: center;
}

.jobTitle {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2rem;
}

.experienceTitleDivider {
    height: 5px;
    width: 100%;
    background-color: white;
}

.experienceSection {
    overflow-y: scroll;
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
}

.experiencePageTitle {
    padding: 0 5%;
}

.experienceCard {
    border: 2px solid white ;
    padding: 5%;
    width: 50%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 50px;
}

ul {
    padding-left: 30px;
}

.experienceCardTitle {
    width: 100%;
}

.yearWidgetActive {
    background-color: #66FCF1;
}

@media (max-width: 900px) {

}