.experiencePage {
    padding: 5% 0;
    width: 100vw;


}


.experiencePageTitle {
    padding: 0 5%;
}

.experiencePageContainer {
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceWrapper {
    overflow-y: auto;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    width: 60%;
    height: 100vh;
    margin-top: 15px;


}

.experienceCard {
    width: 70%;
    height: 100%;
    padding: 25px 50px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    position: relative;
    scroll-snap-align: start;
}

.expNavigationSliders {
    margin-top: 15px;
    cursor: pointer;
}

.jobTitle {
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
}

@media (max-width: 480px) {
    .experienceCard {
        width: 100%;
    }
}