.greetingTitle {
    /* border-bottom: 5px solid white; */
    font-size: 20rem;
    color: #66FCF1;
    margin: 0;
    padding: 0px 15px;
}

.introText {
    font-size: 2rem;
}

.landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPageContent {
    text-align: center;

}

.logoLink {
    text-decoration: none;
}

.logoLink:hover {
    color:white;
}

.jobTitle {
    font-size: 2.5rem;
    margin-top: 35px;

}

.scrollToSeeMore {
    margin-top: 50px;
}

.scrollDownButton {
    border-radius: 500px;
    padding: 10px 5px;
    background-color: white;
    color: black;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.scrollDownButton:hover {
    background-color: aqua;
    color: black
}

@keyframes MoveUpDown {
    0%, 100% {
      bottom: -10px;
    }
    50% {
      bottom: 0px;
    }
  }


@media (max-width: 900px) {
    .greetingTitle {
        font-size: 7rem;
    }

    .jobTitle {
        font-size: 1.35rem;
    }

    .landingPageContent {
        padding-top: 100px;
    }

   

    .jobTitle {
        margin-bottom: 40px;
    }

}

