.textCyan {
    color:#66FCF1
}

.brandLogo {
    text-align: start;
    font-size:3.2rem;
}

.bar {
    height: 3px;
    background-color: #66FCF1;
    width: 32px;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: #0B0C10;

}

.navBarContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;

}