@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.codingSectionTitle {
    font-family: "Inter", sans-serif;
}

.projectsPage {
    width: 100vw;
    padding-top: 5%;
}

.projectsPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 5%;
    height: 70%;
    
}

.projectsPageTitle {
    padding: 0 5%;
}


.filterDesktop {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.filterBox {
    background-color: white;
    color:black;
    font-size: 1.5rem;
    padding: 0px 30px;
    border-radius: 500px;
    margin-top: 20px;
    width: 85%;
    cursor: pointer;
}

.filterBox:hover {
    background-color: #66FCF1;
}

.filterBoxActive{
    background-color: #66FCF1;
}

.projectTitle {
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #66FCF1;
}

.projectTitleDivider {
    border: none;
    height: 5px;
    background-color: white;
    width: 100%;
}

.projects {
    overflow-y: scroll;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCard {
    border: 3px solid white;
    border-radius: 15px;
    padding: 15px;
    width: 85%;
    margin-bottom: 15px;
    cursor: pointer;
}

.thumbnail_and_details {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 15px;;
}

.skill {
    background-color: white;
    color: black;
    border-radius: 500px;
    padding: 0 15px;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    gap: 15px;
}

.projectCard:hover {
    box-shadow: 0 4px 6px #ffffff, 0 6px 6px #ffffff;
}

.filterMobile {
    align-items: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
}

select {
    background-color: #66FCF1;
    border-radius: 50px;
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
    padding: 2% 5%;
}

@media (max-width: 1150px) {
    .projectsPageContainer {
        flex-direction: column;
    }

    .projects {
        width: 100%;
        align-items: center;
    }

    .filterDesktop {
        display: none;
    }

    .filterMobile {
        display: block;
    }

    .thumbnail_and_details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .projects {
        padding-top: 5%;
    }
}